<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>קורות חיים</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="modules/angular/angular.js"></script>
    <link rel="stylesheet" href="modules/ng-dialog/css/ngDialog.css">
    <link rel="stylesheet" href="modules/ng-dialog/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="modules/ng-dialog/css/ngDialog-theme-plain.css">

    <script src="modules/ng-dialog/js/ngDialog.js"></script>
    <script src="js/app/cvController.js"></script>
</head>
<body ng-app="cvApp">
<div ng-controller="cvController">

    <section id="cv">
        <div id="content">
            <button id="myBtn" ng-click="openEditWindow()">Edit</button>

            <section id="profile">
                <section id="intro">
                    <img src="img/MyPhoto.jpg"/>
                    <header>
                        <h1>{{headerProperties.firstName}}</h1>
                        <h2>{{headerProperties.lastName}}</h2>
                        <h3>{{headerProperties.course}}</h3>
                        <h5>{{headerProperties.project}}</h5>
                    </header>
                    <section id="about">
                        <section id="contact-info">
                            <ul>
                                <li>Phone:</li>
                                <li>Area:</li>
                                <li>Email:</li>

                            </ul>
                            <ul>
                                <li><strong>{{about.phone}}</strong></li>
                                <li><strong>{{about.area}}</strong></li>
                                <li><strong>{{about.email}}</strong></li>
                            </ul>
                        </section>
                        <article>

                            <h1>About me</h1>
                            <p></p>
                        </article>

                    </section>
                </section>
                <ul id="social-networks">
                    <li><em class="fa fa-facebook-official" aria-hidden="true"></em> <a
                            href={{socialNetworks.facebook}}>Facebook</a>
                    </li>
                    <li>
                        <i class="fa fa-instagram" aria-hidden="true"></i>


                        <a href="#">instagram</a>
                    </li>
                    <li>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <a href="#">twitter</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <a href={{socialNetworks.mailto}}>Email</a>
                    </li>
                    <li>
                        <i class="fa fa-at" aria-hidden="true"></i>
                        <a href="#">Website</a>
                    </li>
                </ul>
            </section>
            <section id="second">
                <section id="experience">
                    <div class="d1"><h3>experience</h3></div>
                    <section ng-repeat="element in experience">
                        <ul>
                            <div id="senior">
                                {{element}}
                            </div>

                        </ul>
                    </section>
                </section>


                <section id="exp-p">
                    <section ng-repeat="element in platforms">
                        <b> {{element}}
                        </b><br><br>

                    </section>

                </section>


                <section id="boxes">

                    <section id="blue">
                        <h2>Pro Skills</h2>
                        <section id="skills">
                            <table style="width:100%">
                                <tr ng-repeat="element in elementBox1">
                                    <td>{{element.title}}</td>
                                    <td>
                                        <progress max="100" value="{{element.value}}"></progress>
                                    </td>

                                </tr>
                                <tr>
                                    <td>{{cv.elementBox1.second.title}}</td>
                                    <td>
                                        <progress max="100" value="{{elementBox1.second.value}}"></progress>
                                    </td>

                                </tr>
                            </table>
                        </section>
                    </section>
                    <section id="yellow">
                        <h2>Pro Skills</h2>
                        <section id="skills">
                            <table style="width:100%">

                                <tr ng-repeat="element in elementBox1">
                                    <td>{{element.title}}</td>
                                    <td>
                                        <progress max="100" value="{{element.value}}"></progress>
                                    </td>

                                </tr>
                            </table>
                        </section>
                    </section>
                </section>

            </section>


            <section id="mid">

                <section id="left">
                    <h3>education</h3>

                    <ul>
                        <div id="senior">
                            {{education.degree}}
                        </div>
                        <div id="date">
                            <p>{{education.years}}</p>
                        </div>


                </section>

                <section id="right">

                    <ul>
                        <h5>{{education.institute}}</h5>
                        <p></p>

                    </ul>


                </section>

            </section>


        </div>


    </section>
</div>
</body>
</html>
